
p1 {color: pink;
    background-color: black;

}


p2 { color:pink;
    background-color: rgb(12, 227, 227);

}

p3 {color:pink;
    background-color:black;

}

menu {color: darkgreen;
    background-color: rgb(127, 237, 100);

}

